[2013-05-14 23:50] philipashlock opened #1 "DC is missing"
based on the readme, perhaps this could be ocd-division/country:us/district:dc/place:washington

I'm assuming ocd-division/country:us/state:dc/place:washington would be considered less accurate.

For mapping the geoid is 1150000

http://www.census.gov/geo/maps-data/data/docs/gazetteer/2010_place_list_11.txt

[2013-05-17 00:46] jpmckinney opened #2 "Documentation on how to create division IDs for other countries"
I would love to add Canada, likely to a separate repo.

[2013-05-23 14:58] #2 closed, assigned to nobody

[2013-08-18 16:55] dwillis opened #9 "Referring to multiple jurisdictions"
This is more of a question than a real issue, but bringing it to your attention. For @OpenElections, some states (like MD) offer election results files that contain [results covering all state legislative districts](http://www.elections.state.md.us/elections/2012/election_data/State_Legislative_Districts_2012_General.csv). We're using OCD identifiers to describe the jurisdictions included in resul

[2013-10-14 21:15] jpmckinney opened #21 "Canada: Quebec borough names"
- http://www.toponymie.gouv.qc.ca/ct/toponymie-municipale/municipalites-arrondissements/arrondissement.aspx
- http://www.mamrot.gouv.qc.ca/repertoire-des-municipalites/fiche/arrondissement/?tx_mamrotrepertoire_pi1%5Border%5D=asc_nom_mun

[2013-10-14 21:16] jpmckinney opened #22 "Canada: Quebec MRCs and regions"
http://www.toponymie.gouv.qc.ca/ct/toponymie-municipale/municipalites-arrondissements/toponymie_municipale.aspx

Compare the QC status to the census subdivision type to see if they match.

[2013-10-14 21:16] jpmckinney opened #23 "Canada: Alberta municipal codes"
Use Excel from http://www.municipalaffairs.alberta.ca/am_municipal_codes.cfm

Compare organization names.

[2013-10-14 21:17] jpmckinney opened #24 "Canada: Official Montreal borough abbreviations"
Add a mapping. http://donnees.ville.montreal.qc.ca/fiche/arros-liste/

[2013-10-14 21:18] jpmckinney opened #25 "Canada: URL scrapers"
I have a very complex [script](https://github.com/opencivicdata/ocd-division-ids/blob/master/scripts/country-ca/ca_census_subdivision_urls.rb) that scrapes URLs of municipalities across Canada from the FCM's website, and matches them to a census subdivision according to their name and province. It produces [this file](https://github.com/opencivicdata/ocd-division-ids/blob/master/mappings/country-c

[2013-10-19 03:31] dpassage opened #30 "How to handle entities like BART?"
First, love the work you're doing here. Just the sort of thing I need for some other projects...

My question is how to handle entities like BART, the regional transit authority in the San Francisco Bay Area.

It covers multiple counties, so can be defined in terms of the boundaries of those counties. Its board is directly elected from equal-population districts, which of necessity have boundaries

[2013-10-22 02:40] #30 closed, assigned to nobody

[2013-11-22 04:40] #24 closed, assigned to jpmckinney

[2013-12-01 18:39] jpmckinney opened #36 "Add Census place names"
http://www.statcan.gc.ca/pub/12-571-x/12-571-x2011001-eng.pdf

Use `pdftotext -f 187 -l 525 -layout`

Scope by csd

[2013-12-18 18:59] #1 closed, assigned to nobody

[2014-01-16 20:52] #9 closed, assigned to nobody

[2014-01-28 22:49] astrauss-google opened #41 "verify.py for non-US countries"
when I run verify.py for non-US countries (e.g., python3 ./scripts/verify.py fi), the country csv file is created, but then many lines like the following are sent to output. It's annoying, and I bet the fix is easy (or at least I hope):

unexpected geoid for ocd-division/country:us/state:nj/county:gloucester/place:franklin
unexpected geoid for ocd-division/country:us/state:nj/county:gloucester/pla

[2014-02-27 22:27] #41 closed, assigned to jamesturk

[2014-03-07 22:21] astrauss-google opened #48 "compile.py erroring"
Paul/James T (though I know James is on vacation):

Just tried compile.py for the first time, and got this error:
Traceback (most recent call last):
  File "./scripts/compile.py", line 201, in <module>
    main()
  File "./scripts/compile.py", line 184, in main
    for k in field_order.copy():
AttributeError: 'list' object has no attribute 'copy'

Might I suggest swapping out (line 184)
    for k

[2014-03-07 22:33] #48 closed, assigned to paultag

[2014-03-23 16:02] #21 closed, assigned to jpmckinney

[2014-03-23 19:16] #36 closed, assigned to nobody

[2014-04-28 23:16] jamesturk opened #52 "allow dashes in division type"
requested by @juyrjola as it'd be useful in Finland should be fine to add, anyone have any issues with this?

[2014-05-05 18:04] #52 closed, assigned to nobody

[2014-05-29 19:42] twneale opened #55 "Add division IDs for tribes in the US?"
There are Legistar instances for the Cherokee Nation and Third Osage tribes.

[2014-06-04 18:08] paultag opened #56 "Add new division for Macon / Bibb (USA/GA) Consolidated city-county"
The Census data likely hasn't got it yet. I'm filing this ticket so I can verify that assumption, and remind us what we need to check for.

[2014-06-30 14:06] jpmckinney opened #61 "License"
What is the license on these identifiers?

[2014-07-30 21:34] #61 closed, assigned to nobody

[2014-10-15 22:40] j-ro opened #110 "Add cd:at-large to states with only one congressional district"
This may not be the right place for this discussion, but...

I'd like to propose a different handling for OCD IDs for at-large districts. Currently, it seems there is no OCD ID for an at-large district, rather the next highest OCD ID division is used.

For example, Vermont has only one member of Congress, so his OCD ID is `ocd-division/country:us/state:vt`

Whereas, in a state with more than one m

[2015-01-06 05:17] jpmckinney commented on #23
No demand.

[2015-01-06 05:17] #23 closed

[2015-01-06 05:19] jpmckinney commented on #22
No demand.

[2015-01-06 05:19] #22 closed

[2015-01-06 05:20] jpmckinney commented on #25
No demand.

[2015-01-06 05:20] #25 closed

[2015-02-06 13:59] nealmcb commented on #30
Interesting case.  And I'm guessing that there are other such entities that cross state and even country boundaries.  Aren't districts fun :)

[2015-02-12 16:56] paultag opened #112 "Versioning division properties"
So, we need to revise how we do `census_geoid` a bit.

This works, and _did_ work when we had a single geometry to map to -- the problem is, with the new vintages of the census data, the IDs are all jumbled up a bit.

I'd like to change `census_geoid` to `census_geoid_12`, and create a new field, `census_geoid_14` for the new set.

Thoughts from others? I'll start working up a PR, but I'll put thi

[2015-02-12 16:57] paultag commented on #112
I'm also guessing this is primarally a US issue, but I imagine this bug will translate wherever we have multiple versions of shapefiles that we relate to

[2015-02-13 17:26] paultag opened #114 "New version tag"
I'll make a new tag before the end of the day; be sure to let me know if there's any reason to hold off.

[2015-02-13 17:28] paultag commented on #114
In particular, @jpmckinney - is CA data in a place where a tag is solid?

[2015-02-13 17:43] paultag opened #115 "deprecate use of census_geoid"
in favor of something versioned by vintage

[2015-02-13 18:33] jpmckinney commented on #114
I just ran the scripts (no changes). Good to go for CA!

[2015-02-13 18:38] paultag commented on #114
Released as v20150213

[2015-02-13 18:38] #114 closed

[2015-02-13 18:38] paultag commented on #112
Partial fix in place; needs work for place, & county

[2015-02-13 18:38] paultag commented on #112
and cd-*

[2015-03-17 15:34] paultag opened #118 "new release"
US data is set for a release - @jpmckinney I see https://github.com/opencivicdata/ocd-division-ids/commit/3f90cf7270b9c7f142b53269a0cb11f6eba6aadd - are you good with another tag?

[2015-03-17 15:35] jpmckinney commented on #118
I'm good!

[2015-03-17 15:37] paultag commented on #118
Done! Thanks!

[2015-03-17 15:37] #118 closed

[2015-03-17 21:17] dcloud opened #119 "state geometries?"
Per our discussion, it appears that *state-level geometries* are not in the API. `ocd-division/country:us/state:nc/` for example.

[2015-04-21 15:21] paultag opened #120 "Release"
I see a few CA changes, want an update, @jpmckinney ?

[2015-04-21 15:21] paultag commented on #119
@dcloud did you try it without the trailing slash? That's not a valid ocd-id

[2015-04-21 15:24] jpmckinney commented on #120
I'm easy. Nothing blocking a release on my end!

[2015-04-21 15:28] paultag commented on #120
Cool! I'll compile & tag, thanks @jpmckinney !

[2015-04-21 15:30] #120 closed

[2015-04-21 15:54] dcloud commented on #119
The `https://api.opencivicdata.org/<ocd-id>` redirects to a URL with a trailing slash. Using a division id as a URL param to the organizations endpoint results in a 500 error, with or without the trailing slash. As in https://api.opencivicdata.org/organizations/?division_id=ocd-division%2Fcountry%3Aus%2Fstate%3Anc

[2015-04-27 15:40] paultag opened #122 "Additional field checking for non-US"
@mileswwatkins just implemented some key value checking stuff in #121 - we added some census fields (which should be globally unique) to validate.

This issue is open for any non-US sets that want the same checking, anyone have fields?

cc/ @jpmckinney

[2015-04-27 15:46] jpmckinney commented on #122
I suppose `sgc`, `url`, and `data_catalog` should be globally unique, but there's little change duplicates would be introduced.

[2015-04-27 15:50] jpmckinney commented on #122
I've added the Canadian unique fields to `compile.py`.

[2015-04-27 16:01] paultag commented on #122
:+1: thanks @jpmckinney :)

Yeah, there's a low chance, but having multiple scripts / files combined makes me skeeved out a bit, so I asked Miles to add it -- up to you to have whatever you want in there!

[2015-04-27 16:01] paultag commented on #122
I'll leave this up for a day or so, anyone else should feel free to commit / send in PRs!

[2015-04-27 16:15] jpmckinney commented on #122
Yup, definitely worth having, especially if/once the CA scripts start pulling info for the same division from multiple sources.

[2015-08-19 20:26] jpmckinney commented on #122
I believe this issue is complete.

[2015-08-19 20:26] #122 closed

[2015-08-27 19:24] jpmckinney commented on #119
Geometries are not an issue to this repository. I think this issue should be moved to https://github.com/opencivicdata/api.opencivicdata.org

[2015-08-27 21:11] jpmckinney commented on #115
i.e. deprecate `census_geoid` but keep `census_geoid_14` etc.?

[2015-08-27 21:15] jpmckinney commented on #112
So, I guess we're talking about versioned properties? We currently only have a facility for versioning IDs with validFrom, validThrough. In Canada, I haven't yet encountered a use case where I needed to version a property; our Census tries hard to maintain IDs over time, and to not reuse an ID until several decades have passed. But I haven't really plumbed historical use cases.

Also, I'd prefer t

[2015-08-28 19:50] derekeder opened #125 "data source for local municipal divisions?"
How were the IDs for the local municipal divisions created? Did this data come from US Census or some place else?

Examples:
https://github.com/opencivicdata/ocd-division-ids/blob/8b21b8db2efce4f9b38b9bf1397252f7533fdbd9/identifiers/country-us/state-mn-precincts.csv
https://github.com/opencivicdata/ocd-division-ids/blob/8b21b8db2efce4f9b38b9bf1397252f7533fdbd9/identifiers/country-us/state-mn-local

[2015-08-28 19:58] jamesturk commented on #125
They're generated from this script https://github.com/opencivicdata/ocd-division-ids/blob/master/scripts/country-us/census_places.py

[2015-08-28 20:10] derekeder commented on #125
@jamesturk thanks! I take it Census has the place names but not the geographies, correct?

[2015-08-28 20:12] jamesturk commented on #125
I think that's the case, iirc they have counties and msas but not "places"
On Aug 28, 2015 4:10 PM, "Derek Eder" <notifications@github.com> wrote:

[2015-08-28 20:24] derekeder commented on #125
Looks like they have a 'Places' shapefile, but it is only for city and township boundaries, not wards or precincts: https://www.census.gov/geo/maps-data/data/cbf/cbf_place.html

<img width="1109" alt="screen shot 2015-08-28 at 3 24 03 pm" src="https://cloud.githubusercontent.com/assets/919583/9556233/daf33e44-4d98-11e5-8813-f4df1a313c8e.png">

[2015-08-28 20:25] derekeder commented on #125
Think this answers my question. Closing.

[2015-08-28 20:25] #125 closed

[2015-08-28 21:50] fgregg commented on #125
Wait? How did info about wards get in there?

[2015-10-05 14:19] #119 closed

[2016-11-19 00:54] showerst opened #136 "Historical; Orleans and Dakota Territories?"
I've been loading some historical US legislative data, and OCD is missing the Territory of Orleans, and the Dakota territory which both sent a few people to congress in the 1800s.
https://en.wikipedia.org/wiki/Territory_of_Orleans
https://en.wikipedia.org/wiki/Dakota_Territory

If I add submit a PR for it, as ocd-division/country:us/territory:ol and ocd-division/country:us/territory:dk with proper

[2016-11-21 04:37] jpmckinney commented on #136
That sounds right. Where do the abbreviations ol and dk come from?

Sent from mobile

[2016-11-21 05:18] showerst commented on #136
ol and dk come from https://github.com/unitedstates/congress-legislators -- but could just be arbitrary. Happy to format them however you want.

[2016-11-22 19:31] jpmckinney commented on #136
Hmm, if you can find any source to support those abbreviations, that'd be best.

[2016-11-22 19:38] showerst commented on #136
I doubt I'll find a good historical source; what's preferable to those abbreviations? I'd rather the identifier fit whatever scheme you use now, since this is such and obscure edge case.

[2016-11-22 20:11] jpmckinney commented on #136
`dt` seems much more prevalent, e.g. https://www.archives.gov/publications/prologue/2003/winter/little-town-in-nara-1.html http://www.loc.gov/pictures/item/99613785/

[2016-11-22 20:45] showerst commented on #136
Ah cool, and thanks for the cross-links.

Last question while we're on the subject; the Phillippines also sent a number of reps to the house during their time as a US territory. https://en.wikipedia.org/wiki/Non-voting_members_of_the_United_States_House_of_Representatives#The_Philippines

Is that something we'd create a division for, distinct from the modern country of the Philippines?

[2016-11-22 20:49] jpmckinney commented on #136
Like Orleans, we can create `ocd-division/country:us/territory:ph` (taking `ph` from the ISO country code for the Philippines).

[2016-11-22 20:53] showerst commented on #136
Cool. Is there a process guide for OCD PRs? Can I just fork it, manually add them to country-us.csv, and create a PR or is there more process to it?

[2016-11-22 20:54] jpmckinney commented on #136
country-us.csv is autogenerated from dependent files.

Instead, edit https://github.com/opencivicdata/ocd-division-ids/blob/master/identifiers/country-us/us_territories.csv

[2016-11-22 23:44] jpmckinney commented on #136
Closed by #137

[2016-11-22 23:44] #136 closed

[2016-11-22 23:46] jpmckinney opened #138 "sameAs semantics question"
@jamesturk @paultag

Is the Orleans Territory `sameAs` the state of Louisiana?

[2016-11-28 21:46] dmcglone opened #140 "U.S. School Districts are jurisdictional not division based"
The school districts identifiers seemed to be based on what might actually be considered [jurisdictions](http://opencivicdata.readthedocs.io/en/latest/proposals/0003.html), not divisions.

For example:
`ocd-division/country:us/state:al/county:montgomery/school_district:alabama_correctional_facilities`
and
`ocd-  division/country:us/state:az/county:maricopa/school_district:country_gardens_education

[2016-12-12 20:16] aaronpdennis opened #142 "Missing county equivalents for some U.S. territories"
In the Virgin Islands, these county equivalents are assigned the `10` [Legal/Statistical Area Description Code](https://www.census.gov/geo/reference/lsad.html) by the US Census Bureau:

- `ocd-division/country:us/territory:vi/island:st_thomas`, St. Thomas Island
- `ocd-division/country:us/territory:vi/island:st_john`, St. John Island
- `ocd-division/country:us/territory:vi/island:st_croix`, St. Cr

[2016-12-12 20:22] jpmckinney commented on #142
Do the above identifiers not exist yet? What precisely is the proposed change - to change existing IDs, or add new ones?

[2016-12-12 20:38] aaronpdennis commented on #142
It would be to add these identifiers. As best I can tell, they don't currently exist.

These identifiers should be added through either:

- modification of [census_places.py](https://github.com/opencivicdata/ocd-division-ids/blob/master/scripts/country-us/census_places.py)

*OR*

- direct addition to [country-us/us_territories.csv](https://github.com/opencivicdata/ocd-division-ids/blob/master/iden

[2016-12-13 14:54] jpmckinney commented on #142
Can you submit a PR that modifies census_places.py?

[2017-01-17 19:21] samtregar opened #143 "Missing division IDs for many districts in NH"
For example, Coos 7th district is missing from this file:

https://github.com/opencivicdata/ocd-division-ids/blob/master/identifiers/country-us/census_autogenerated_14/us_sldl.csv

Coos county 1st through 6th is present.  Looking at Ballotopedia it appears Coos 7th has been in place since 2012.  I see other examples of this in many other NH counties - I can provide a full list if that would be hel

[2017-01-26 21:12] jamesturk commented on #138
going by https://en.wikipedia.org/wiki/Territory_of_Orleans, I'd say so

[2017-01-26 21:29] samtregar commented on #143
Turns out these are missing from the source 2014 census files, and sadly also the 2016 census files.

[2017-01-27 00:00] jpmckinney commented on #138
Ok, so a division's identity survives changes in its classification (organized incorporated territory versus state).

[2017-01-27 00:00] #138 closed

[2017-02-03 23:09] jpmckinney commented on #110
`state:vt/cd:at-large` makes sense to me in terms of having a complete set of congressional districts under the `cd` type.

However, at the local government level, there can be dozens of at-large councillors, which requires special handling/logic anyway. In that case, I don't see the value in having an at-large alias.

[2017-02-03 23:12] jpmckinney commented on #140
@ccongchen Those IDs were added in your PRs. Can you respond to @dmcglone?

[2017-02-05 19:56] patcon opened #144 "Convert to datapackage"
Would this be a sensible thing to do? Seems like this fits the normal format of scripts + data. Would a PR for this be accepted?

Seems like it might be worth the exercise, as a repo with some many data files would probably bring up pain points in the datapackage toolset worth addressing.

[2017-02-05 20:07] jpmckinney commented on #144
Most users just use the single compiled CSV for their country, which is easy to maintain by just downloading the latest version. Perhaps a third-party data package could be maintained?

[2017-02-06 03:11] patcon commented on #144
You mean one per country? Or one with all countries, but just the CSVs and metadata?

[2017-02-06 03:23] jpmckinney commented on #144
For example, I only use this file: https://github.com/opencivicdata/ocd-division-ids/blob/master/identifiers/country-ca.csv

I don't use the individual files in https://github.com/opencivicdata/ocd-division-ids/tree/master/identifiers/country-ca

[2017-02-06 05:30] patcon commented on #144
Ah gotcha. But I'll admit that one thing I really liked about the datapackage philosophy was that it seemed to encourage the co-location of the data and the scripts from which the data is massaged/derived. Any preference on that yourself, or are you just as happy to have the data live alone in a datapackage repo?

[2017-02-06 06:27] jpmckinney commented on #144
Isn't this repo already in a situation where the scripts and data are collocated? (They are in the same repo.)

[2017-02-06 19:32] patcon commented on #144
Def. The original ask was whether it would be worthwhile to add a datapackage.json describing the data :)

But I suppose until this data is in a CKAN portal somewhere, having that metadata isn't much value-add. So I'll just close until such a time. Sorry for the noise on this one

[2017-02-06 19:32] #144 closed

[2017-02-20 21:18] jpmckinney commented on #55
Closing. Can re-open if there is demand.

[2017-02-20 21:18] #55 closed

[2017-02-20 21:32] jpmckinney commented on #56
Closing. Can re-open if there is demand. May be fixed in Census 2020.

[2017-02-20 21:32] #56 closed

[2017-02-21 01:05] jpmckinney commented on #112
Closing as the original issue was fixed, and we don't need to set a policy on how to name the columns for custom properties of different vintages.

[2017-02-21 01:05] #112 closed

[2017-10-31 16:27] cmyr opened #149 "Missing resource for ca_federal_electoral_districts-2013.csv"
Doing the maintenance tasks for `ca`, and this particular resource ([link](http://ftp.geogratis.gc.ca/pub/nrcan_rncan/vector/geobase_fed_cf/shp_eng/fed_cf_CA_2_1_shp_en.zip )) no longer exists. @jpmckinney any guidance?

[2017-10-31 16:57] jpmckinney commented on #149
Hmm, try substituting http://ftp.geogratis.gc.ca/pub/nrcan_rncan/vector/electoral/2011/fed308.2011.zip and see how much the data changes.

[2017-10-31 16:58] jpmckinney commented on #149
Hmm, actually, that's the old 308 districts. We need to find one with 338.

[2017-10-31 16:59] jpmckinney commented on #149
Here we go: http://open.canada.ca/data/en/dataset/5f1c2e06-405a-4357-9566-872e69ee2ade

http://www12.statcan.gc.ca/census-recensement/2011/geo/bound-limit/files-fichiers/2016/lfed000a16a_e.zip

[2017-10-31 17:44] cmyr commented on #149
This is resolved in #150

[2017-10-31 17:44] #149 closed

[2017-12-09 00:17] showerst opened #151 "Adding UK Constituencies?"
I'm interested in adding the Political [Constituencies for the UK parliament](http://www.parliament.uk/about/how/elections-and-voting/constituencies/).

These span 4 countries, but for identifier purposes might make more sense under one.

The also break into differently named units (county, borough) that serve the same purpose.

I'd like to add something like:
[code]

thoughts?

[2018-02-22 23:40] showerst commented on #151
https://github.com/opencivicdata/ocd-division-ids/pull/152 😃

[2018-02-22 23:40] #151 closed

[2019-09-04 15:02] jdmgoogle opened #170 "Update/establish best practices for OCD-ID types across countries"
This issue spun out of the discussion on PR #168.

Background links:
[Creating new OCD-IDs](https://opencivicdata.readthedocs.io/en/latest/ocdids.html)
[Division identifiers](http://docs.opencivicdata.org/en/latest/proposals/0002.html)

The current OCD-ID documentation establishes one canonical identifier type -- `country` -- but otherwise gives latitude to within-country maintainers to define and

[2019-10-16 11:40] sguenther85 opened #175 "Add [me] as an official contributor/reviewer"
Hi guys,

I would like become an constributor.
I work for the biggest german news agency and we are very interested in covering the european area for elections and parliaments in ocd format.

Which doesn't mean I won't help support other countries/elections. ;)

Best,
Steve

@jpmckinney
@jamesturk
@djbridges

[2019-10-17 12:53] sguenther85 commented on #175
I'd like to be able to merge pull requests. ;)

[2019-10-25 02:38] rsimoes commented on #175
:+1:

[2019-11-03 23:33] jpmckinney commented on #170
Using the local terms will always make sense for local users.

A challenge only arises when a user (1) wants to use OCDIDs from multiple jurisdictions and (2) needs to know whether a type ID in one jurisdiction corresponds to a type ID in another jurisdiction. (@jdmgoogle Can you provide a specific use case?)

Now, the problem of deciding whether two divisions in two jurisdictions are of the same

[2019-11-04 22:02] jloutsenhizer opened #184 "Incorrect Country Code used for United Kingdom"
#156  added OCD IDs for The United Kingdom but used uk for the country code rather than the "gb" from ISO-3166. #181 introduces the parliament constituencies using teh correct gb country code.

You can see #181 for some of the previous discussion. I'm proposing we use the OCD IDs from #181 and alias the IDs from #156 to these new IDs (possibly via a corrections file).

Tagging people likely intere

[2019-11-05 20:40] chris48s commented on #184
Thanks for tagging me in on this.

The identifiers should definitely be migrated from `-uk` to `-gb`. I'm totally on-board with this. This is an unfortunate mistake on my part which was not caught in review. From our persepctive, it is fine for the move to be framed as corrections as opposed to aliases. I'm also happy to submit a PR migrating the code for generating the sub-national division ident

[2019-11-06 03:01] jpmckinney commented on #184
Since #181 was only merged a few hours ago, and since everyone involved is tagged here, I am happy to consider changes, including re-alignment with the pattern used for the `uk` prefixes.

I think a process step we should have completed was to be sure to tag and invite all participants in #156 to comment on #181 – but we can still fix that now.

[2019-11-06 18:55] chris48s commented on #184
Hi @jpmckinney

Thanks for showing flexibility on this.

If we accept that the changes in #181 aren't set in stone, I've submitted another PR over at #186 with a proposed migration for moving the full suite of existing identifiers from `country:uk` to `country:gb`, updating the build scripts, docs and the identifiers themselves.

This would be the least disruptive approach to moving the existing i

[2019-11-08 20:28] jloutsenhizer commented on #184
Thank you for the detailed response @chirs48s,

I believe the hierarchy in #181 was coming from the way the various boundary commissions define the UK parliament constituencies. Although, I can see how it would make sense to have the hierarchy reflect the scope of the government they are defined for (all UK parliament constituencies being in country:gb and then all Assembly of Wales constituencies

[2019-11-09 22:09] chris48s commented on #184
Exactly. Also, bear in mind if we were to add OCD IDs for the divisions used in local government elections (the county, district and borough councils) which we don't have at the moment but may need in future, that's where you really need hierarchy both for name disambiguation and to describe the relationship between the divisions and organisations they're children of.

---

In general, it is misle

[2019-11-11 20:22] jpmckinney commented on #184
@sguenther85 Please contribute to this issue, so that we can restore a consistent approach to UK identifiers.

[2019-11-12 10:25] sguenther85 commented on #184
@jpmckinney @chris48s Hey sorry. You're right. I should contribute to this issue. Since snap ellection is announced for UK i have a lot to do.
But I will write something on this issue by tomorrow at the latest.
I just have to read the whole conversation before i write something ;)

[2019-11-12 22:27] jloutsenhizer commented on #184
Thanks for the detailed explanations @chris48s I think I'm convinced for the need to have distinct types depending on the government the districts are for makes sense, and actually looking a the us OCD IDs, this is already being done for different levels of government in the United States.

You also have a good point about the possible future shifts in the regions of the identifiers.

I still thin

[2019-11-13 13:43] sguenther85 commented on #184
So. Sorry for the long delay.

My idea was it to represent the parliamentary constituencies of UK and not of Wales, Scotland or Northern Ireland Countries-Parliaments.
All 650 constituencies are constituencies of the country UK and a couple of constituencies are in different countries (where we use /part: instead of country) of UK.

If we want furthermore represent in the same ocd country file the

[2019-11-13 16:10] jpmckinney commented on #184
All identifiers belong to the same namespace (`ocd-division`). They are only separated into files for the convenience of maintaining an otherwise very large number of identifiers. Users of identifiers should not extract semantics from filenames; the organization of the files should be treated as meaningless when interpreting identifiers, as it is not part of the spec.

As for the types (`ed`, `naw

[2019-11-13 19:35] sguenther85 commented on #184
no issue, I'm fine with it.

[2019-11-13 19:43] chris48s commented on #184
:+1:  This is a good point about terminology. The abbreviations like `spr`, `cauth` etc are pretty meaningless in isolation, especially to an international audience. Each type is presented in a different file, but I'd be happy to add an additional file meta-data file defining the terms. Is that a reasonable thing to include in this repo? Is there an existing format or provision in the spec for thi

[2019-11-13 21:15] jloutsenhizer commented on #184
For merging #186,

I'm onboard with the use of different types for the different districts depending on the government they are for.

I think at some point in the future it'd be useful to have somewhere in the repo a file that annotates these types with information so that we know `pcon`, `ed`, `nawc`, are all types of electoral districts. I haven't given this much thought though and this would be

[2019-11-14 19:47] chris48s commented on #184
This does already exist in a README for this identifier set: https://github.com/opencivicdata/ocd-division-ids/blob/master/scripts/country-uk/README.md
.. but what I was getting at above was that if there is a defined meta-data format for this, that would also be useful to formally define these.

I've opened PR #188 which adds a few commits on top of #186 to add a constituent nation clause to each

[2019-11-17 04:10] jpmckinney commented on #170
Noting comments in https://github.com/opencivicdata/ocd-division-ids/issues/184#issuecomment-551978487 and below about a desire for a metadata file format for defining OCD types.

[2019-11-17 04:12] jpmckinney commented on #184
@jloutsenhizer Would you like to review and approve your preferred PR, between #186 and #188? I'm ambivalent.

[2019-11-18 14:00] jdmgoogle commented on #184
Weighing in with my $0.02...

I definitely prefer the style in PR #188, with the /part:XYZ included in the hierarchy for the non-UK-Parliament constituencies.

For the UK Parliament constituencies, though: which governmental body is in charge of drawing the boundaries and organizing the elections for those seats? In the US the congressional districts hang off the states because each state gets to

[2019-11-18 21:52] chris48s commented on #184
@jdmgoogle This lumps together a variety of questions, all of which have different answers:

For parliamentary boundaries, the [Boundary Commission for England](https://boundarycommissionforengland.independent.gov.uk/), [Boundary Commission for Wales](https://bcomm-wales.gov.uk/), [Boundary Commission for Scotland](https://www.bcomm-scotland.independent.gov.uk/) and [Boundary Commission for Northe

[2019-12-04 21:56] jloutsenhizer opened #189 "Creating distinct properties for canonicalization and labeling coterminous districts"
Presently in the repository there are several aliases established in a few different countries. These are used in two different ways:
* In some cases these are used to define a canonical ID for the division
  * see [aliases.csv for Germany](https://github.com/opencivicdata/ocd-division-ids/blob/master/identifiers/country-de/aliases.csv).
* In other cases this is used to denote that the two divisio

[2019-12-08 00:10] jpmckinney commented on #189
`coterminousWith` sounds good to me. Can you create a PR to update the OCDEP? (I'm not sure if the practice is to update existing OCDEPs, or only create new ones. @jamesturk ?)

[2019-12-09 18:50] jloutsenhizer commented on #189
Happy to send a PR once it's determined if I should update an existing OCDEP or if it should be a new one

[2019-12-10 19:57] #110 closed

[2019-12-20 03:36] todrobbins opened #192 "Documentation of usage in civil society?"
It would be neat to have some documentation/examples or an overview of how OCD IDs are being implemented and utilized in civil society now that we're entering the 2020s.

Has anyone done a "state of OCD" recently?

[2020-02-02 00:08] kstohr opened #195 "us:prosecutor OCD-ID's"
Hi there,

How are prosecutor ocd_id's handled? I ask because I have tracked prosecutor races in the US for the last three years and find it very difficult to work with data that uses standard ocd-id's because they are sometimes innacurate. i.e they associate a prosecutor with a county rather than the prosecutorial district, judicial district or circuit.

I'd be happy to contribute, but given that

[2020-03-30 04:35] carl3 opened #201 "Missing census codes for US County-Equivalents"
Several incorporated cities function as a county-equivalent, so have separate FIPS codes
for a county and city. There are different Census class codes assigned, e.g.
the "City and County of San Francisco" has county code H7 and C1, but
Baltimore and the cities listed below have code C7.

The following are missing the census_geoid:

ocd-division/country:us/state:md/county:baltimore_city,24510
ocd-d

[2020-06-05 13:54] todrobbins commented on #192
Any suggestions on where to start with a state of OCD?

[2020-06-05 22:15] jpmckinney commented on #192
@todrobbins I think looking at the contributors to the code, issues and PRs in this repo would give a good indication of who are the direct users. (There might then be many downstream users.)

[2020-08-07 00:14] epaulson opened #204 "Utqiagvik, Alaska"
The city of Utqiagvik was formerly known as Barrow, until a referendum in 2016 changed the name.

How is this sort of update best handled in OCD-ID?

[2020-10-10 01:35] epaulson opened #213 "OCD Division IDs in Wikidata"
This is more of an FYI issue - I posted this to the [google group](https://groups.google.com/d/msg/open-civic-data/jGfDS5yEGzw/AhFgcirlBwAJ), but James McKinney recommended also creating an issue and tagging the @opencivicdata/division-id-curators (though @jpmckinney, I don't seem to be able to tag that team, maybe you can only do that if you're on the team?) At any rate, I am reproducing that pos

[2020-10-13 14:53] jpmckinney commented on #213
Tagging @opencivicdata/division-id-curators for discussion. Integration with Wikidata seems like a good idea.

[2020-10-13 14:56] djbridges commented on #213
100% on board and excited to help with (this though likely won't have
bandwidth to discuss until post-Nov 3, for some reason).

On Tue, Oct 13, 2020 at 9:54 AM James McKinney <notifications@github.com>
wrote:

--
Donny Bridges | Director of Civic Data | The Center for Technology & Civic
Life | 202.549.3717 | donny@techandciviclife.org | He/him/his

[2020-11-24 22:26] rsimoes commented on #195
I don't think it'd be a problem to add a `prosecutorial` district type

[2020-11-24 22:34] rsimoes commented on #204
Keep both, but add a date to the `validThrough` (fifth column) field for Barrow and also to the `validFrom` (13th column) field for Utqiagvik.

[2020-12-08 05:47] kstohr commented on #195
@rsimoes That'd be awesome. How do you want us to go about this? Should we create a branch and make a pull request?

[2020-12-13 04:05] derenrich commented on #213
So there are now about [2000 mappings](https://w.wiki/qNC) between ocd-ids and wikidata items. I think there's full coverage of US federal house/senate/states. The state legislature district coverage is choppy and there are modeling issues that need to be considered (where we might need many to one mappings between things).

Unrelatedly, do you know if anyone has the mapping from ocd-ids and ballo

[2020-12-19 00:08] epaulson commented on #213
This is awesome, if you were the one who added them, thanks!

I'm not aware of anyone with OCD-ID to ballotpedia mappings. It looks like you (or the person who's been editing wikidata) has been making progress on that, there's now ~1300 things that have both OCD-IDs and Ballotpedia IDs.

Is the modeling issue on wikidata or in OCD?

[2020-12-19 01:08] derenrich commented on #213
so the main modeling issue is things like https://www.wikidata.org/wiki/Q4632627 where wikidata has one entry but you have two. Currently Wikidata now has https://www.wikidata.org/wiki/Q104235619 and https://www.wikidata.org/wiki/Q104235541 but unclear if that's the best way to do this. This issue extends to all other "coterminous" districts.

[2020-12-19 22:17] rsimoes commented on #195
@kstohr Yes, please do!

[2020-12-20 21:17] kstohr commented on #195
@rsimoes I can make a PR but can you first give me some guidance as to where (what file) in the codebase to add these to (or do you want me to upload a discreet file?) and how you would like to handle the following:

- Some prosecutor districts are co-extensive with counties. How do you want to label these districts? Use the existing ocd-id county labels or create a new prosecutorial-district labe

[2020-12-22 09:26] rsimoes commented on #195
These are good and interesting question, and I'm not sure there is consensus on all of them.

The convention we follow at CTCL has been the following:
- If the district is county-dependent by state law, treat it as identical to the county and do not mint a new ocd-id. If it instead has no legal relationship with a county except shared boundaries, mint a new ocd-id hierarchically subordinated to th

[2020-12-26 18:55] kstohr commented on #195
Ok, can you provide a little more color on what you mean by "county-dependent by state law."  Is this meant to imply that state law compels county government to elect or appoint a prosecutor? Is the primary determinant that the position is paid by the county? That the county manages the elections? What is the determinant factor here?

[2021-01-28 16:45] todrobbins opened #233 "Small recommendation: utilize Wikipedia permalinks when used as ref/source"
So as to provide more specificity and time-relevant links, I'd suggest that all Wikipedia page links utilize one of the [Wikipedia permalink](https://en.wikipedia.org/wiki/Help:Permanent_link) options:

I'd be happy to go through existing refs and update them to permalinks.

Thoughts?

[2021-01-29 07:47] akuckartz commented on #233
Can Wikidata be used instead?

[2021-01-29 16:21] todrobbins commented on #233
@akuckartz Wikidata can definitely be used instead although I don't think all administrative units are anywhere near fully represented in Wikidata currently, hence the default to Wikipedia lists.

[2021-01-30 23:13] epaulson commented on #233
This is a dumb question, but which refs/links are you going to change? Just things in READMEs or am I missing somewhere that OCD is storing specific links?

[2021-02-01 02:50] todrobbins commented on #233
@epaulson not a dumb question. I'm referring to all of the identifier `README.md` files (e.g. https://github.com/opencivicdata/ocd-division-ids/blob/master/identifiers/country-ar/README.md)

[2021-03-16 16:36] irenelfeng opened #249 "Missing Jammu and Kashmir (JK) AC's in Vidhan Sabha in India"
I think there are missing assembly constituency ocd-ids for Jammu and Kashmir (i think there are 87). I am happy to make a PR and append them to the vidhan_sabha.csv - just confirming we need them.

[2021-03-16 16:59] jloutsenhizer commented on #249
I believe the Vidhan Sabha constituencies were excluded in #223 due to an ongoing delimitation exercise. @novitam might be able to provide more details.

[2021-03-16 21:59] irenelfeng commented on #249
ah, i see. Jammu and Kashmir's legislature was recently dissolved so boundaries are being redrawn. makes sense. When will these be added back?

Another question I have surrounding India is what to do with cities within districts.  Would a proper ocd-id for Itanagar be, for example:
`ocd-division/country:in/state:ar/district:pa/place:itanagar`

since it is in the district of Papumpare? following wh

[2021-03-17 01:57] novitam commented on #249
We don't know yet when the Jammu and Kashmir will be added back, we are waiting for the delimitation exercise to be completed.

If you are referring to the Vidhan Sabha constituency of Itanagar in Papumpare, we have the following ocd-id:
`ocd-division/country:in/state:ar/district:pa/cd:itanagar` in https://github.com/opencivicdata/ocd-division-ids/blob/master/identifiers/country-in/vidhan_sabha.cs

[2021-03-17 12:12] irenelfeng commented on #249
Thank you @novitam! I can leave this issue open until they are imported or feel free to close.

As for itanagar. I would actually like to describe the city boundary! Would using `place` be sufficient?  In the README this ocd-id type isn't specified but looks like city boundaries (for mayoral offices) aren't covered.

[2021-03-22 06:48] novitam commented on #249
Yes, city boundaries for mayoral offices are not yet covered. I think you can create a PR to add a new file under `country-in` to cover the mayoral offices. I am not very familiar with the mayoral offices for India but `place` is very generic, so if there is a better term that is more specific, like `city` or maybe even `municipality` , whichever is more accurate for the boundary of mayoral office

[2021-12-02 18:45] skywalkerdude opened #279 "Fix Validator spreadsheet"
Was using a legacy API: https://www.googleapis.com/auth/spreadsheets.currentonly

Need to fix script to add explicit auth scopes: https://developers.google.com/apps-script/concepts/scopes#setting_explicit_scopes

[2021-12-02 18:59] skywalkerdude commented on #279
Need to add:

[code]

[2021-12-08 18:51] j-ro opened #282 "how to add Yukon territorial electoral district ocdids?"
Territorial electoral district OCDIDs seem to be missing for the Yukon territory in Canada. Here's Wiki's documentation on what they are: https://en.wikipedia.org/wiki/List_of_Yukon_territorial_electoral_districts

How does one go about adding new OCDIDs to this repo? Do I have to write a scraper? Can I contribute a PR directly to the data folders?

[2021-12-10 15:41] mlauter opened #283 "Docs site is down"
The canonical documentation site linked in the README https://opencivicdata.readthedocs.io/en/latest/proposals/0002.html seems to be down as of recently. Curious whether there are plans to restore it?

[2022-01-17 22:58] kerstenew commented on #283
Any updates on this? Page is still down.

[2022-04-05 02:25] jamesa opened #300 "How do you make UIDs in ocd-id's consistent?"
Hi, I'm a beginner just getting familiar with your project. I'm mostly interested in your US data, and I had a question on the usage of UIDs in OCD ID's.

I understand this repository holds the canonical OCD ID's for many jurisdictions, but wasn't clear on if there's guidance on whether a bill, or event, could have a canonical ID.

<details>

<summary>Example</summary>

For instance, from the data

[2022-08-04 18:06] raysuelzer opened #316 "Nunavut Legislative Assembly / Provinical Ridings?"
Looks like they are listed here, but not included in the project.

https://www.gov.nu.ca/legislative-assembly-nunavut

Do we need to make a scraper to have this added?

[2022-08-10 15:27] showerst commented on #300
@jamesa -- I just stumbled on this, and FYI those IDs are managed by another project. They're generated by scrapers that use opencivicdata/python-opencivicdata as a base. The UID code is in the models, [heres the bill code](https://github.com/opencivicdata/python-opencivicdata/blob/488b8d6268dc819947b29abfca976ee4d0da15b5/opencivicdata/core/models/base.py#L11) as you can see it's currently using a

[2022-10-14 18:30] benstroud commented on #283
The documentation link in the primary README (https://opencivicdata.readthedocs.io/en/latest/proposals/0002.html) is still broken (screenshot attached). Navigating to the domain (https://opencivicdata.readthedocs.io/) resolves to Read The Docs content but appears to be gibberish (screenshot attached). Is this project still active?

![Screen Shot 2022-10-14 at 1 28 50 PM](https://user-images.github

[2022-11-01 21:31] evannjw opened #323 "Using district names in Canadian Federal Electoral District OCD-IDs"
A new set of OCD-IDs are created every time there is redistricting creating a problem for how we represent districts contiguously across time. Rather than use the numeric federal district ids, which only represent a district’s identity for 10 years, we should use district names as they are more closely represent a district’s identity. Some concerns regarding the switch to using names as identifier

[2022-11-02 05:03] jpmckinney commented on #323
To understand the proposal:

- When X is renamed to Y, which is the canonical ID and which is the alias?
- If X is canonical: how far back do we go to establish the canonical ID? (1867? Easy enough with the source below.)
- How are collisions resolved across time (same name for different districts at different times)? For example, Ahuntsic from 1968 to 1979 vs 1988 to 2015. There are 213 names tha

[2022-11-02 15:31] evannjw commented on #323
When X is renamed to Y, a new id will be created for Y and an alias will be created stating X sameAs Y making Y canonical.

Collisions will be resolved by removing the validThrough date and adding a validFrom date. The same id will be used for both periods that the district existed since the identity of the district is maintained by its name. https://en.wikipedia.org/wiki/Ahuntsic_(electoral_distr

[2022-11-02 18:26] jpmckinney commented on #323
Okay, now instead of 213 IDs that repeat across time, we'll have 202:

<details>

- Ahuntsic  Quebec: 2
- Algoma  Ontario: 2
- Argenteuil  Quebec: 3
- Argenteuil--Deux-Montagnes  Quebec: 2
- Argenteuil--Papineau--Mirabel Quebec: 2
- Bas-Richelieu--Nicolet--Bécancour Quebec: 2
- Battle River  Alberta: 3
- Beauharnois Quebec: 3
- Beauharnois--Salaberry  Quebec: 3
- Beauséjour  New Brunswick: 2
- Ber

[2022-11-03 17:48] evannjw commented on #323
We can also resolve collisions across time by appending the year that the new district was created in the case that an old district with the abolished, the way collisions with Canadian OCD-IDs are currently resolved. However if we do adopt the idea that names are how we identify districts, treating districts with the same name, even if there is a 64 year span between them, as having the same ident

[2022-11-03 18:03] jdmgoogle commented on #323
I'm curious why the new solution has to go back to 1867 but the the current solution only has to go back to ~2010.

[2022-11-03 18:06] jdmgoogle commented on #323
Renaming districts outside of a redistricting cycle is rather unusual, so this seems like something that should be taken up with the Canadian government first and foremost. :)

[2022-11-03 18:23] jdmgoogle commented on #323
(Sorry for the multiple comments here, but)

The district you reference is also described in the French-language Wikipedia as "reappearing" in the 1960s.

https://fr.wikipedia.org/wiki/Algoma_(ancienne_circonscription_f%C3%A9d%C3%A9rale)

The [edit history](https://fr.wikipedia.org/w/index.php?title=Algoma_(ancienne_circonscription_f%C3%A9d%C3%A9rale)&action=history) to that page does not include

[2022-11-03 19:10] jpmckinney commented on #323
Okay, good luck changing a foreign country's legislature, Google ;)

We're discussing how to improve the current solution.

I don't understand this section. What is your position? Phrasing everything as conditionals makes it hard to know what you actually want to be the case.

[2022-11-03 19:14] jdmgoogle commented on #323
If that's the case then I propose we focus on solving the problem for the modern era (e.g., make sure we work reasonably well for the date ranges already covered by the data set) and not worry about going back to 1867.

I'm trying to get clarity on your position. You've dismissed Wikipedia as a valid data source (which is fine) and have said we should limit ourselves to only what the government is

[2022-11-03 19:29] jpmckinney commented on #323
OCD-IDs should track the identity of divisions across time, including historical divisions where there is the capacity to do so. Due to data quality issues, etc. this goal is not always met. This issue is about improving the situation in Canada.

It is not a goal of OCD-IDs to be consistent with Wikidata. Wikidata is nowhere mentioned in any documentation about OCD-IDs. That said, consistency acro

[2022-11-03 19:39] jpmckinney commented on #323
I agree that this is a reasonable solution.

The OCD-ID project works with a simple lifecycle model of divisions being created (validFrom), abolished (validThrough) and renamed (sameAs): https://github.com/opencivicdata/docs.opencivicdata.org/blob/master/proposals/0002.rst The model does not allow for "re-establishment" of divisions. We can of course consider changes to the model, but I think that

[2022-11-03 21:47] jdmgoogle commented on #323
I would agree with that.

Then the documentation should be updated to say that. We should also reach out to people at Wikidata to make it clear that these two projects may provide overlapping identifiers but are not related and not guaranteed to be compatible.

I would disagree with that. For example:

* Federal district 47012, [2003-2013](https://www.elections.ca/content.aspx?section=res&dir=cir/

[2022-11-03 21:56] jpmckinney commented on #323
Are we to enumerate and reach out to every project with which we don't have an official policy of being consistent with? That doesn't make sense. Is there some undocumented agreement or discussion with Wikidata that I'm missing?

----

I'm confused.

* Souris–Moose Mountain in the 2013 Distribution Order is `ocd-division/country:ca/ed:47013-2013`
* Souris–Moose Mountain in the 2003 Distribution Or

[2022-11-04 20:40] jdmgoogle commented on #323
Wikipedia is a large enough project that we should at least attempt to clarify our relationship to them.

One last feedback here is that under the approach mentioned above it seems we'd be randomly appending years onto identifiers, which seems a bit chaotic.

Unfortunately election-related issues are pulling me away so I can't comment a bunch more at the moment. Hope to get back to the mid/late ne

[2022-11-04 22:05] jpmckinney commented on #323
It's not random – when films are remade, years are appended. So, on Wikipedia, there's True Grit (1969 film) and True Grit (2010 film). Most films don't have these suffixes, because they have not been remade, or were remade under a different title.

Similarly, if a district is abolished, and then a future district uses the same name, a year is suffixed to distinguish them.

--

Please open a new i

[2022-11-04 22:17] jpmckinney commented on #323
I made a draft PR based on @evannjw's comments. See #324 for comment.

[2022-11-09 17:47] jpmckinney commented on #323
Food for thought on appropriate sources of information for political divisions: https://mitpress.mit.edu/9780262046299/writing-the-revolution/

[2022-11-15 19:54] maxwellb commented on #283
Following. This appears to be a disconnection of the readthedocs.io site "opencivicdata" from this repository. I won't link it here, but the "Edit on GitHub" link from the opencivicdata.readthedocs.io site points to a GitHub repository from a different user, with the repo named "opencivicdata". I can't say if it's hijacking with intent, but certainly is a documentation error from an end user's poi

[2022-11-21 19:59] jdmgoogle opened #325 "Improve support for division names in multiple languages"
There have been a few PRs/issues where the question of "in which language should the name of the district be represented?" As far as I know we don't have a great solution for this right now.

I would propose that we update the header format to allow headers of the form `name:[language code]`; e.g., `name:en-US`, `name:de`, `name:es-419`, etc. We'd have to figure out what to do with existing `name`